{% load static %}

<!DOCTYPE HTML>
<html>
<head>
	<title>Login??</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-signin-client_id" content="729005614615-auunri0f7584kro5tqegru8mm9618th4.apps.googleusercontent.com">
	<link rel="shortcut icon" type="image/x-icon" href="/media/icons/favicon.ico/" />
	<link href="https://fonts.googleapis.com/css?family=Raleway:500,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/user-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/button-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/navbar-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/image-style.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js'%}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
	<script type="text/javascript" src="{% static 'js/login-script.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/navbar-script.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/profile-script.js' %}"></script>
</head>
<body>
    <div class="grid-container">
        <div class="grid-item-1">
            <div class="image-2-asset image-2-format"></div>
            <div class="image-5-asset image-5-format"></div>
        </div>
        <div class="grid-item-2">
            {% include "reusable-pages/navbar-base.html" %}
        </div>
        <div class="grid-item-4">
			<label>My Events</label>
			<table class="table table-dark">
		        <thead>
		          <tr>
		            <th scope="col">Event Name</th>
		            <th scope="col">Date</th>
		          </tr>
		        </thead>
		        <tbody id="content">
		        </tbody>
		    </table>
        </div>
        <div class="grid-item-5">
            <p id="message"></p>
        </div>
    </div>
</body>
</html>
