{% load static %}

<!DOCTYPE HTML>
<html>
<head>
	<title>Sign Up!!</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="/media/icons/favicon.ico/" />
	<link href="https://fonts.googleapis.com/css?family=Raleway:500,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/user-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/button-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/navbar-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/image-style.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js'%}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script type="text/javascript" src="{% static 'js/navbar-script.js' %}"></script>
</head>
<body>
	<div class="grid-container">
		<div class="grid-item-1">
			<div class="image-2-asset image-2-format"></div>
			<div class="image-5-asset image-5-format"></div>
		</div>
		<div class="grid-item-2">
			{% include 'reusable-pages/navbar-base.html' %}
		</div>
		<div class="grid-item-3">
			<div class="process">
				<a href="{% url 'user:signup_1' %}">
					<div class="circle mark">
						<label>
							Create Account
						</label>
					</div>
				</a>
				<div class="line mark"></div>
				<a href="{% url 'user:signup_2' %}">
					<div class="circle mark">
						<label>
							Add Information
						</label>
					</div>
				</a>
				<div class="line"></div>
				<div class="circle">
					<label>
						Finish
					</label>
				</div>
			</div>
		</div>
		<div class="grid-item-4">
			<form action="" method="POST">
				{% csrf_token %}
				<div class="name-con">
					<div class="box-icon icon-format user-icon"></div>
					{{ form.full_name }}
				</div>
				<div class="gender-con">
					<div class="box-icon icon-format gender-icon"></div>
					{{ form.gender }}
				</div>
				<div class="date-con">
					<div class="box-icon icon-format date-icon"></div>
					{{ form.date }}
				</div>
				<div class="home-con">
					<div class="box-icon icon-format home-icon"></div>
					{{ form.home_address }}
				</div>
				<div class="submit-con">
					<input type="submit" name="submit" value="Finish">
				</div>
			</form>
		</div>
		<div class="grid-item-5"></div>
	</div>
</body>
</html>