{% load static %}
<!DOCTYPE HTML>
<html>
<head>
	<title>Sign Up!!</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="/media/icons/favicon.ico/" />
	<link href="https://fonts.googleapis.com/css?family=Raleway:500,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/user-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/button-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/navbar-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/image-style.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js'%}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script type="text/javascript" src="{% static 'js/navbar-script.js' %}"></script>
</head>
<body>
	<div class="grid-container">
		<div class="grid-item-1">
			<div class="image-2-asset image-2-format"></div>
			<div class="image-5-asset image-5-format"></div>
		</div>
		<div class="grid-item-2">
			{% include 'reusable-pages/navbar-base.html' %}
		</div>
		<div class="grid-item-3">
			<div class="process">
				<div class="circle mark">
					<label>
						Create Account
					</label>
				</div>
				<div class="line mark"></div>
				<div class="circle mark">
					<label>
						Add Information
					</label>
				</div>
				<div class="line mark"></div>
				<div class="circle mark">
					<label>
						Finish
					</label>
				</div>
			</div>
		</div>
		<div class="grid-item-4">
			<div class="feedback-con">
				<label class="feedback-word">
					Thanks for signing up to our project
				</label>
				<div class="icon-format handshake-icon"></div>
			</div>
		</div>
		<div class="grid-item-5"></div>
	</div>
</body>
</html>