{% load static %}

<!DOCTYPE HTML>
<html>
<head>
	<title>Sign Up!!</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="/media/icons/favicon.ico/" />
	<link href="https://fonts.googleapis.com/css?family=Raleway:500,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/user-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/button-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/navbar-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/image-style.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js'%}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script type="text/javascript" src="{% static 'js/signup-1-script.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/navbar-script.js' %}"></script>
</head>
<body>
	<div class="grid-container">
		<div class="grid-item-1">
			<div class="image-2-asset image-2-format"></div>
			<div class="image-5-asset image-5-format"></div>
		</div>
		<div class="grid-item-2">
			{% include 'reusable-pages-user/navbar-base.html' %}
		</div>
		<div class="grid-item-3">
			<div class="process">
				<a href="{% url 'user:signup_1' %}">
					<div class="circle mark">
						<label>
							Create Account
						</label>
					</div>
				</a>
				<div class="line"></div>
				<div class="circle">
					<label>
						Add Information
					</label>
				</div>
				<div class="line"></div>
				<div class="circle">
					<label>
						Finish
					</label>
				</div>
			</div>
		</div>
		<div class="grid-item-4">
			<form action="" method="POST">
				{% csrf_token %}
				<div class="user-con">
					<div class="box-icon icon-format user-icon"></div>
					{{ form.username }}
				</div>
				<div class="email-con">
					<div class="box-icon icon-format email-icon"></div>
					{{ form.email }}
				</div>
				<div class="password-con">
					<div class="box-icon icon-format password-icon"></div>
					{{ form.password }}
					<div class="icon-format chain-icon"></div>
					<input type="password" class="password" placeholder="Confirm password" minlength="8" name="password" onkeyup="matchPassword()">
				</div>
				<div class="role-con">
					<div class="box-icon icon-format role-icon"></div>
					{{ form.role }}
				</div>
				<div class="submit-con">
					<input class="button-submit button-disable" type="submit" value="Create">
				</div>
			</form>
		</div>
		<div class="grid-item-5">
			<p id="message"></p>
		</div>
	</div>
</body>
</html>