{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Welcome!</title>
	<link rel="shortcut icon" type="image/x-icon" href="/media/icons/favicon.ico/" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta name="google-signin-client_id" content="729005614615-auunri0f7584kro5tqegru8mm9618th4.apps.googleusercontent.com">
	<link href="https://fonts.googleapis.com/css?family=Raleway:500,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="{% static 'css/image-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/landing-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/button-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/navbar-style.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js'%}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
	<script type="text/javascript" src="{% static 'js/navbar-script.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/landing-script.js' %}"></script>
</head>
<body>
	<div class="grid-container">
		<div class="grid-item-1"></div>
		<div class="grid-item-2">{% include "reusable-pages/navbar-base.html" %}</div>

		<div class = "image-item-4">
			<div class="image-4-asset image-4-format"></div>
		</div>

		<div class="grid-item-3">
			<h1 class="title-2-cover"> - Welcome To - </h1>
			<h1 class="title-1"> Students Events </h1>
		</div>

		<div class = "image-item-1">
			<div class="image-1-asset image-1-format"></div>
		</div>

		<div class = "grid-item-4">
			<h2 class="title-1">What are we ??</h2>
			<p class="konten-1-grid4">Students Events is a site that publishes some upcoming and ongoing events that is organized by university students. Here we post the event descriptions and news about them as well!<br>
				<br>
				Register to our site!!<br>
				<br>
				You can either be apart of our student union to add new events and news or create an account to register to events that are posted on our website!!</p>
		</div>

		<div class = "image-item-3">
			<div class="image-3-asset image-3-format"></div>
		</div>

		<div class = "grid-item-5">
			<h2 class="title-1">Our site consists of...</h2>
		</div>

		<div class="grid-item-6">
			<h3 class="title-2">- EVENTS -</h3>
			<p class="konten-1">On this page you can:
				<br><br>
				- See upcoming or ongoing events
				<br><br>
				- Register to those events through our website!!
				<br><br>
				- See further details about the events
				<br><br>
				- Add new events (Only for members of student union)</p>
		</div>

		<div class = "image-item-6">
			<div class="image-6-asset image-6-format"></div>
		</div>

		<div class="grid-item-7">
			<h3 class="title-2">- NEWS -</h3>
			<p class="konten-1">On this page you can:
				<br><br>
				- See the news of each event
				<br><br>
				- Further details or press release of an event
				<br><br>
				-Add news (Only for members of student union)</p>
		</div>

		<div class="grid-item-8 comment_form">
			<h3 class="title-1 comments">- Comments -</h3>
			{% if request.session.user_exists %}

				<div id="contain_form">
					<form action="{% url 'landing:landing_page' %}" method="POST" class="comment_form" id="field">
		                {% csrf_token %}                    
		                {{ form.message }}
		                <br><br>
		                <input type="submit" value="Share it with us!" id="tombol">
		            </form>

		        </div>
		    {% else %}
		    	<div>
		    		<h5 class="title-2" style="text-align: center;">Please sign in to comment</h5> 
		    	</div>
		    {% endif %}
	    </div>

	    <div class="grid-item-9">
			<p class="title-1" style="text-align: center;">Their Testimonies . . . </p>
                        
            {% if comments %}
            	<div id="here">
		        	{% for com in comments %}
		            	<div class="overflow-wrap word-break comments">
		            		{% if request.session.username.lower == com.name %}
								<a class="button-close-position" href="delete/{{ com.id }}">
									<div class="icon icon-format close-icon"></div>
								</a>
							{% endif %}
		                    <tr>
		                        <td class="overflow-wrap word-break" style="font-size: 20px"><strong> {{ com.created_at }} </strong></td>
		                        
		                    </tr>
		                    <tr>
		                    	<td class="overflow-wrap word-break">{{ com.message|linebreaks }}</td>
		                    </tr>
		                    <tr>
		                    	<td> by: {{ com.name }}</td>
		                    </tr>
		                    <br>
		                    <br>

		                </div>
		            {% endfor %}

                </div>
            	
            {% else %}
                <h5 class="title-2" style="text-align: center;">No Testimonies Yet . . .</h5> 
            {% endif %}
        </div>
	

	</div>
</body>
</html>