.text {
	position: relative;
	z-index: 1;
	font-family: 'Concert One', cursive;
	transform: translateY(-10%);
	font-size: 25px;
	color: white;
	text-align: center;

}
.button {
	position: relative;
	box-sizing: border-box;
	padding: 10px 13px;
	border-radius: 2px;
	margin-right: 0px;
}

.background-color-animated {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0;
	background-color: white;
	transition-duration: .5s;
	background-color: white;
	border-radius: 2px;
}

.border-line-1 {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 10%;
	transform: translateX(-50%);
	transition-duration: .1s;
	border-bottom: 1px solid white;
}

.border-line-2 {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0;
	width: 0;
	transition-duration: .1s;
	transition-delay: .1s;
	border-left: 1px solid white;
}

.border-line-3 {
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	transition-duration: .2s;
	transition-delay: .1s;
	border-top: 1px solid white;
}

.border-line-4 {
	position: absolute;
	top: 0;
	right: 0;
	height: 0;
	width: 0%;
	transition-duration: .3s;
	transition-delay: .1s;
	border-right: 1px solid white;
}

.button:hover .background-color-animated {
	height: 100%;
}

.button:hover .text {
	color: #2B2B2B;
}

.button:hover .border-line-1 {
	left: 0;
	transform: translateY(0);
	width: 100%;
}

.button:hover .border-line-2 {
	height: 100%;
}

.button:hover .border-line-3 {
	width: 100%;
}

.button:hover .border-line-4 {
	height: 100%;
}