body {
	margin: 0;
	font-family: Raleway;
	overflow: hidden;
}

.white-bg {
	background-color: white;
}

.blue-bg {
	background-color: #00112b;
}

.blue-soft-bg {
	background-color: #001638;
}

.white-font {
	color: white;
}

.blue-font {
	color: #070130;
}

.page-grid-con {
	display: grid;
	grid-gap: 20px;
}

.item {
	position: relative;
}

.grid-item-1 {
	grid-column: 1/8;
	grid-row: 1/8;
	height: 100vh;
	width: 100vw;
}

.grid-item-2 {
	grid-column: 3/6;
	grid-row: 4/5;
	box-sizing: border-box;
  	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	transform-origin: 50% 200%;
	animation-name: hello-world-animation;
	animation-duration: 4s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}

.bg-1 {
	height: 90%;
	width: 100%;
}

.bg-2 {
	height: 10%;
	width: 100%;
}

.wall {
	position: relative;
	z-index: 3;
	height: 100px;
	width: 100%;
}

.greeting-word {
  	position: relative;
  	display: flex;
	font-size: 2em;
	font-weight: bold;
}

.hello-world-box {
	position: absolute;
	z-index: 5;
	height: calc(120% - 200px);
	width: 150%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition-duration: .2s;
}

.hello-world-box-1 {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0;
	width: 0;
	animation-name: hello-world-box-1-animation;
	animation-duration: 4s; 
	animation-timing-function: ease-out;
	animation-iteration-count: infinite; 
}

.hello-world-box-2 {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0;
	width: 0;
	animation-name: hello-world-box-2-animation;
	animation-duration: 4s; 
	animation-timing-function: ease-out;
	animation-iteration-count: infinite; 
}

.hello-text {
	position: relative;
	padding: 0 5px;
	z-index: 2;
	display: flex;
	align-items: flex-end;
	font-size: 1em;
	animation-name: hello-animation;
	animation-duration: 4s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}

.world-text {
	position: relative;
	padding-left: 5px;
	z-index: 1;
	display: flex;
	align-items: flex-end;
  	font-size: 1em;
  	animation-name: world-animation;
  	animation-duration: 4s;
  	animation-timing-function: ease-out;
  	animation-iteration-count: infinite;
}

.exc-symbol {
	position: relative;
	z-index: 1;
  	font-size: 1em;
  	display: flex;
	align-items: flex-end;
  	animation-name: exc-animation;
  	animation-duration: 4s;
  	animation-timing-function: ease-out;
  	animation-iteration-count: infinite;
}

@keyframes hello-animation {
	0% {
		transform: translateY(100%);
	}
	5% {
		transform: translateY(0%);
	}
	95% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(100%);
	}

}

@keyframes world-animation {
	0% {
		transform: translate(-100%, 100%);
	}
	4% {
		transform: translate(-100%, 0);
	}
	10% {
		transform: translate(0, 0);	
	}
	90% {
		transform: translate(0, 0);
	}
	96% {
		transform: translate(-100%, 0);
	}
	100% {
		transform: translate(-100%, 100%);
	}

}

@keyframes exc-animation {
	0% {
		transform: translateY(-100%);
	}
	7% {
		transform: translateY(0%);
	}
	93% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-100%);
	}	
}

@keyframes hello-world-animation {
	0% {
		transform: rotate(-10deg);
		opacity: 0;
	}
	6% {
		transform: rotate(0);
		opacity: 1;
	}
	94% {
		transform: rotate(0);
		opacity: 1;
	}
	100% {
		transform: rotate(10deg);
		opacity: 0;
	}
}

@keyframes hello-world-box-1-animation {
	0% {
		border-left: 1px solid white;
	}
	10% {
		border-left: 1px solid white;
		height: 100%;
		width: 0%;
	}
	15% {
		border-left: 1px solid white;
		border-top: 1px solid white;
		height: 100%;
		width: 100%;	
	}
	90% {
		border-left: 1px solid white;
		border-top: 1px solid white;
		height: 100%;
		width: 100%;	
	}
	95% {
		border-left: 1px solid white;
		height: 100%;
		width: 0%;	
	}
	100% {
		border-left: 1px solid white;
	}
}

@keyframes hello-world-box-2-animation {
	0% {
		border-bottom: 1px solid white;
	}
	10% {
		border-bottom: 1px solid white;
		width: 100%;
		height: 0%;
	}
	15% {
		border-right: 1px solid white;
		border-bottom: 1px solid white;
		width: 100%;	
		height: 100%;
	}
	90% {
		border-right: 1px solid white;
		border-bottom: 1px solid white;
		width: 100%;	
		height: 100%;
	}
	95% {
		border-bottom: 1px solid white;
		width: 100%;	
		height: 0%;
	}
	100% {
		border-bottom: 1px solid white;
	}
}