* {
  text-decoration: none;
}

body, html{
    font-family: "Concert one";
    color: white;
    margin: 0;
    overflow-x: hidden;
}

button {
  border: none;
  background-color: transparent;
}

a, button {
  font-family: Raleway;
  text-decoration: none;
  cursor: pointer;
}

.back-red {
  background-color: rgb(240, 47, 47);
}

.back-blue {
  background-color: rgb(41, 41, 243);
}

.back-orange {
  background-color: rgb(255, 186, 57);
}

.back-green {
  background-color: rgb(13, 182, 13);
}

.wall {
  visibility: hidden;
  background-color: white;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  transition-duration: .1s;
}

.wall-active {
  visibility: visible;
  opacity: .93;
}

.popup-add {
  visibility: hidden;
  position: fixed;
  z-index: 10;
  opacity: 0;
  border-radius: 5px;
  top: 50vh;
  left: 50vw;
  transition-duration: .1s;
  transform: translate(-50%, -30%);
}

.popup-add-click {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%);
}


.button-add-popup {
  position: fixed;
  z-index: 2;
  background-color: white;
  border-radius: 0 4px 4px 0;
  padding: 10px 15px;
  cursor: pointer;
  color: black;
  top: 30vh;
  left: 0;
}

.popup-add-grid {
  position: relative;
  height: 70vh;
  width: 50vw;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: auto auto auto auto;
}

.popup-background {
  grid-column: 1/4;
  grid-row: 1/6;
  background-color: black;
}

.popup-add-grid > h2 {
  grid-column: 1/4;
  grid-row: 2/3;
  text-align: center;
  vertical-align: bottom;
}

.popup-add-grid > form {
  grid-column: 2/3;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: repeat(4, auto);
}

.popup-label-headline {
  grid-column: 1/2;
  grid-row: 1/2;
}

.popup-label-picture {
  grid-column: 1/2;
  grid-row: 2/3;
}

.popup-label-date {
  grid-column: 1/2;
  grid-row: 3/4;
}

.popup-label-description {
  grid-column: 1/2;
  grid-row: 4/5;
}

.popup-input-headline {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 23vw;
}

.popup-input-image {
  grid-column: 2/3;
  grid-row: 2/3;
}

.popup-input-date {
  grid-column: 2/3;
  grid-row: 3/4;
}

.popup-input-description {
  grid-column: 2/3;
  grid-row: 4/5;
  width: 24vw;
}

.popup-input-submit {
  grid-column: 2/3;
  grid-row: 5/6;
}

.popup-form-padding {
  padding: 3px 0;
}

.popup-participant {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  visibility: hidden;
  box-sizing: border-box;
  position: fixed;
  z-index: 10;
  opacity: 0;
  border-radius: 5px;
  height: 70vh;
  width: 50vw;
  background-color: black;
  top: 50vh;
  left: 50vw;
  padding: 50px;
  transition-duration: .1s;
  transform: translate(-50%, -30%);
}

.popup-participant-clicked {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%);
}

.info-participants {
  font-size: .9em;
  width: 85%;
  text-align: left;
}

.user-list-con {
  overflow: scroll;
  overflow-x: hidden;
  max-height: 90%;
  width: 90%;;
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.user-con {
  margin: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.icon-format {
  height: 25px;
  width: 25px;
	background-size: 50% 50%;
	background-position: center center;
	background-repeat: no-repeat;
}

.user-icon {
	background-image: url("/media/icons/man-user.svg");
}

.close-icon {
	background-image: url("/media/icons/close.svg");
}

.like-0-icon {
	background-image: url("/media/icons/like_0.svg");
}

.like-1-icon {
	background-image: url("/media/icons/like_1.svg");
}

.like-2-icon {
	background-image: url("/media/icons/like_2.svg");
}

.like-clickable {
  height: 40px;
  width: 40px;
}

.like-unclickable {
  height: 40px;
  width: 40px;
}

.button-close-position {
  position: absolute;
  top: 20px;
  right: 20px;
}

.icon {
  height: 20px;
  width: 20px;
}

.user-name {
  height: 25px;
  box-sizing: border-box;
  padding: 2px 10px;
  background-color: white;
  color: black;
  font-size: .9em;
}

input[name="headline"] {
  padding-left: 10px;
  height: 25px;
  width: 100%;
}

textarea {
  width: 100%;
}

.grid-container {
  display: grid;
  min-height: 100vh;
  width: 100vw;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 45px auto auto auto;
  background-color: transparent;
}

.grid-item-1 {
  position: relative;
  grid-column: 1/4;
  grid-row: 1/5;
  background-color: black;
}

.grid-item-2 {
	grid-column: 1/4;
	grid-row: 1/2;
}

.grid-item-3 {
  grid-column: 1/4;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: auto;
}

.grid-item-4 {
	position: relative;
	grid-column: 2/3;
	grid-row: 3/4;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.news-container {
  position: relative;
  background-color: #2B2B2B;
  box-sizing: border-box;
  border: 1px solid white;
  width: 80%;
  border-radius: 10px;
  align-items: center;
  padding: 0 25px 25px 25px;
  margin-bottom: 50px;
}

.grid-container2 {
	display: grid;
	width: 100%;
	grid-template-columns: auto 20vw;
	grid-template-rows: 15vh auto auto;
}

.grid-container3 {
	display: grid;
	min-height: 300px;
	width: 100%;
	grid-template-columns: 20vw auto;
	grid-template-rows: 15vh auto auto;
}

.grid-item-1a {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
}

.grid-item-2a {
  max-height: 100%;
  font-family: Raleway;
  font-size: .8em;
  margin-right: 10px;
  overflow-y: scroll;
  grid-column: 1/2;
  grid-row: 2/3;
}

.grid-item-2b {
  grid-column: 2/3;
  grid-row: 2/3;
}

.grid-item-2ba {
  height: 20vw;
  width: 20vw;
}

.grid-item-2c {
  height: 20vw;
  width: 20vw;
  grid-column: 1/2;
  grid-row: 2/3;
}

.grid-item-2d {
  max-height: 100%;
  font-family: Raleway;
  font-size: .8em;
  margin-left: 15px;
  overflow-y: scroll;
  grid-column: 2/3;
  grid-row: 2/3;
}

.like-con {
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.counter-like {
  font-family: Raleway;
  font-size: .8em;
  cursor: pointer;
}

.description-pad {
  padding-left: 10px;
}

.image-pad {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
}
/*image codes*/

.image-1-format {
  top: -2vw;
  right: 0px;
  background-position: center right;
  background-size: 30vw auto;
}

.image-4-format {
  bottom: -11vw;
  left: 0px;
  background-position: center left;
  background-size: 45vw auto;
}

.image-2-format {
  bottom: 0px;
  right: 0px;
  background-position: bottom right;
  background-size: 20vw auto;
}

.image-5-format {
  bottom: 0px;
  left: 0px;
  background-position: bottom left;
  background-size: 9vw auto;
}

.grid-title-background {
  position: relative;
  grid-column: 1/4;
  grid-row: 1/2;
}

.grid-title-content {
  position: relative;
  padding: 4vw 0 7vw 0;
  z-index: 1;
  grid-column: 2/3;
  grid-row: 1/2;
}

.title {
  font-size: 5vw;
}

.content {
  font-family: Raleway;
  margin-top: 3vw;
  font-size: 2vw;
  padding-right: 20vw;
}
.content2 {
  font-family: Raleway;
  margin-top: 3vw;
  font-size: 2vw;
  padding-left: 15vw;
  padding-right: 5vw;
  text-align: right;
}

.empty-news {
  padding: 15vw 0;
  font-size: 5vw;
}

textarea[name="description"] {
  padding: 8px;
  resize: none;
}

@media only screen and (max-width: 800px) {
  .popup-add-grid > form {
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto, 8);
  }

  .popup-label-headline {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .popup-input-headline {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 30vw;
  }

  .popup-label-picture {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .popup-input-image {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .popup-label-description {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  .popup-input-description {
    grid-column: 1/2;
    grid-row: 7/8;
    width: 31vw;
  }

  .popup-input-submit {
    grid-column: 1/2;
    grid-row: 8/9;
  }
}

.grid-item-color {
  color: black;
  background-color: white;
}
@media only screen and (max-width: 600px) {
  .grid-item-1a {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    vertical-align: middle;
    font-size: 2vw;
  }

  .grid-item-2a {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .grid-item-2b {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .news-container {
    box-sizing: border-box;
    width: 80%;
    border-radius: 10px;
    margin: 0;
    align-items: center;
    padding: 0 10% 5% 10%;
    margin-bottom: 10px;
  }
}
