.icon-format {
	background-size: 50% 50%;
	background-position: center center;
	background-repeat: no-repeat;
}

.user-icon {
	background-image: url("/media/icons/man-user.svg");
}

.email-icon {
	background-image: url("/media/icons/black-back-closed-envelope-shape.svg");
}

.password-icon {
	background-image: url("/media/icons/key.svg");
}

.chain-icon {
	padding: 17px;
	background-image: url("/media/icons/link.svg");
	transform: rotate(45deg);
}

.role-icon {
	background-image: url("/media/icons/board-games-with-roles.svg");
}

.gender-icon {
	background-image: url("/media/icons/gender.svg");
}

.date-icon {
	background-image: url("/media/icons/calendar_1.svg");
}

.home-icon {
	background-image: url("/media/icons/home_1.svg");
}

.image-2-format {
	bottom: -1vw;
	right: 0px;
	background-position: center right;
	background-size: 35vw auto;	
}

.image-5-format {
	bottom: 0px;
	left: 0px;
	background-position: bottom left;
	background-size: 14vw auto;
}

.handshake-icon {
	margin: 20px;
	height: 300px;
	width: 300px;
	background-image: url("/media/icons/hand-shake.svg");
	background-size: 120% 120%;
}

body, html{
    height: 100%;
    background: #000000;
    font-family: "Concert One", Raleway;
    color: white;
    margin: 0;
	overflow: hidden;
	line-height: 1;
}

a {
	position: relative;
	text-decoration: none;
	color: inherit;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.grid-container {
	display: grid;
	height: 100vh;
	width: 100vw;
	grid-template-columns: auto 600px auto;
	grid-template-rows: auto 25% 50% 15%;
	background-color: white;
}

.grid-item-1 {
	background-color: black;
	grid-column: 1/4;
	grid-row: 1/5;	
}

.grid-item-2 {
	grid-column: 1/4;
	grid-row: 1/2;	
}

.grid-item-3 {
	position: relative;
	grid-column: 2/3;
	grid-row: 2/3;
	width: 100%;	
}

.grid-item-4 {
	position: relative;
	z-index: 2;
	grid-column: 2/3;
	grid-row: 3/4;
}

.grid-item-5 {
	grid-column: 1/4;
	grid-row: 4/5;
	display: flex;
	justify-content: center;
}

.process {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.circle {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	height: 20px;
	width: 20px;
	background-color: grey;
	border-radius: 10px;
}


.circle > label {
	position: absolute;
	bottom: 0;
	transform: translateY(150%);
	font-size: .7em;
	text-align: center;
}


.line {
	height: 2px;
	width: 25%;
	margin: 0 10px;
	background-color: grey;
}

.mark {
	background-color: white;
}

.feedback-con {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.feedback-word {
	width: 60%;
	text-align: center;
	font-size: 2em;
	font-family: "Concert One"
}

form {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

form > div {
	margin: 7px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: 60%;
}

.home-con {
	align-items: flex-start;
}

textarea {
	box-sizing: border-box;
	border-radius: 2px;
	border-width: 0;
	padding: 7px;
}

.box-icon {
	box-sizing: border-box;
	border-radius: 2px;
	padding: 17px;
	border: 1px solid white;
	margin-right: 10px;
}

input {
	background-color: white;
	color: black;
	box-sizing: border-box;
	font-family: Raleway;
	padding: 3px 7px;
	border-radius: 2px;
	border-width: 0;
	height: 34px;
	width: 100%;
}

.button-disable {
	pointer-events: none;
	background-color: grey;
}

input[type="submit"] {
	background-color: transparent;
	border: 1px solid white;
	color: white;
	cursor: pointer;

}

.password {
	width: calc(100%/2 - 44px);
}

select {
	height: 34px;
	width: 100%;
}

.chain-icon {
	margin: 0 5px;
}

@media only screen and (max-width: 600px) {
	body {
		overflow-y: visible;
	}

	.grid-container {
		grid-template-columns: auto 300px auto;
	}

	.password {
		width: calc(100%/2 - 24px);
	}

	.chain-icon {
		padding: 0;
	}

	.user-con, .email-con, .password-con, .role-con, .submit-con, .name-con, .gender-con, .date-con, .home-con {
		width: calc(100% * 3 / 4); 
	}
}
