<div class="navbar-con">
	<div class="navbar-menu" onclick="showNavbar()">
		<div class="button button-navbar-size">	
			<div class="background-color-animated"></div>
			<div class="border-line-2"></div>
			<div class="border-line-3"></div>
			<div class="border-line-4"></div>
			<div class="text">
				MENU
			</div>
		</div>
	</div>
	<div class="grid-container-navbar navbar-init">
		<div class="grid-item-navbar-1">
			<a class="button-navbar-size" href="{% url 'landing:landing_page' %}">
				<div class="button button-navbar-size">	
					<div class="background-color-animated"></div>
					<div class="border-line-2"></div>
					<div class="border-line-3"></div>
					<div class="border-line-4"></div>
					<div class="text">
						HOME
					</div>
				</div>
			</a>

			<a class="button-navbar-size" href="{% url 'events:events' %}">
				<div class="button button-navbar-size">	
					<div class="background-color-animated"></div>
					<div class="border-line-2"></div>
					<div class="border-line-3"></div>
					<div class="border-line-4"></div>
					<div class="text">
						EVENTS
					</div>
				</div>
			</a>
			<a class="button-navbar-size" href="{% url 'news:news' %}">
				<div class="button button-navbar-size">	
					<div class="background-color-animated"></div>
					<div class="border-line-2"></div>
					<div class="border-line-3"></div>
					<div class="border-line-4"></div>
					<div class="text">
						NEWS
					</div>
				</div>
			</a>
		</div>
		<div class="grid-item-navbar-2">
		{% if request.session.user_exists %}
			<!-- <div class="button profile button-navbar-size" onclick="showProfileMenu()">	 -->
			<a href="{% url 'user:profile' %}">	
				<div class="button button-navbar-size">	
					<div class="profile-menu">
						{{ request.session.role }}
					</div>
					<div class="background-color-animated"></div>
					<div class="border-line-2"></div>
					<div class="border-line-3"></div>
					<div class="border-line-4"></div>
					<div class="text username-con">
						{{ request.session.username }}
					</div>
				</div>
			</a>
			<!-- </div> -->
			<a class="button-navbar-size" data-type="logout">
				<div class="button button-navbar-size">	
					<div class="background-color-animated"></div>
					<div class="border-line-2"></div>
					<div class="border-line-3"></div>
					<div class="border-line-4"></div>
					<div class="text">
						LOGOUT
					</div>
				</div>
			</a> 
		{% else %}
			<a class="button-navbar-size" href="{% url 'user:signup_1' %}">
				<div class="button button-navbar-size">	
					<div class="background-color-animated"></div>
					<div class="border-line-2"></div>
					<div class="border-line-3"></div>
					<div class="border-line-4"></div>
					<div class="text">
						SIGNUP
					</div>
				</div>
			</a>

			<a class="button-navbar-size" href="{% url 'user:login' %}">
				<div class="button button-navbar-size">	
					<div class="background-color-animated"></div>
					<div class="border-line-2"></div>
					<div class="border-line-3"></div>
					<div class="border-line-4"></div>
					<div class="text">
						LOGIN
					</div>
				</div>
			</a>
		{% endif %}
		</div>
	</div>
</div>