.grid-item-2ba {
  grid-column: 1/2;
  grid-row: 1/2;
}

.grid-item-2bb {
  grid-column: 1/2;
  grid-row: 2/3;
}

.image {
  max-width: 100%;
}

.grid-item-1a {
  grid-column: 1/3;
  grid-row: 1/2;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

.grid-item-1aa {
  grid-column: 1/2;
  grid-row: 1/2;
}

.grid-item-1ab {
  grid-column: 1/2;
  grid-row: 2/3;
}

.grid-item-1aa > h1 {
  text-align: center;
}

.grid-item-color {
  color: black;
  background-color: white;
}
