.image-1-asset {
	height: 100%;
	width: 100%;
	position: absolute;
	background-repeat: no-repeat;
	background-image: url("/media/images/decorations/aset1.png");
}

.image-2-asset {
	height: 100%;
	width: 100%;
	position: absolute;
	background-repeat: no-repeat;
	background-image: url("/media/images/decorations/aset2.png");
}

.image-3-asset {
	height: 100%;
	width: 100%;
	position: absolute;
	background-repeat: no-repeat;
	background-image: url("/media/images/decorations/aset3.png");
}

.image-4-asset {
	height: 100%;
	width: 100%;
	position: absolute;
	background-repeat: no-repeat;
	background-image: url("/media/images/decorations/aset4.png");
}

.image-5-asset {
	height: 100%;
	width: 100%;
	position: absolute;
	background-repeat: no-repeat;
	background-image: url("/media/images/decorations/aset5.png");
}

.image-6-asset {
	height: 100%;
	width: 100%;
	position: absolute;
	background-repeat: no-repeat;
	background-image: url("/media/images/decorations/aset6.png");
}
