body, html{
    height: 100%;
    background: #000000;
    color: white;
    margin: 0;
    overflow-x: hidden;
}

a {
	text-decoration: none;
}

h1 {
	line-height: 0%;
	text-align: center;
}

.grid-container {
	display: grid;
	min-height: 100vh;
	width: 100vw;
	grid-template-columns: 15% 15% 40% 15% 15%;
	grid-template-rows: auto auto auto auto auto auto auto;
}

/*background*/
.image-1-format {
	top: 5vh;
	right: 0px;
	background-size: 30vw auto;
	padding-right: 0.9vw;	
}


.image-4-format {
	bottom: -30vw;
	left: 0px;
	background-size: 50vw auto;
	padding-bottom: 25vw;
}

.image-6-format {
	bottom: 0px;
	background-position: center bottom;
	background-size: 35vw auto;
}

.image-3-format {
	right: 0px;
	bottom: 0px;
	background-position: center bottom;
	background-size: 30vw auto;
}

.grid-item-1 {
	grid-column: 1/6;
	grid-row: 1/6;	
}

.image-item-1 {
	position: relative;
	grid-column: 4/6;
	grid-row: 2/3;
}

/*navbar*/
.grid-item-2 {
	grid-column: 1/6;
	grid-row: 1/2;
} 

/*title*/
.grid-item-3 {
	position: relative;
	display: flex;
	padding: 15vw 0 10vw 0;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	grid-column: 2/4;
	grid-row: 2/3;
}

.image-item-4 {
	position: relative;
	grid-column: 1/5;
	grid-row: 2/3;
}

/*about*/
.grid-item-4 {
	position: relative;
	grid-column: 2/5;
	grid-row: 3/4;
	text-align: right;
}

/*sub-title*/
.grid-item-5 {
	grid-column: 1/5;
	grid-row: 4/5;
	padding-left: 100px;
}

.image-item-3 {
	position: relative;
	grid-column: 4/6;
	grid-row: 3/5;
}

/*konten doble*/
.grid-item-6 {
	position: relative;
	z-index: 1;
	padding-left: 20px;
	grid-column: 1/3;
	grid-row: 5/6;
	text-align: left;
}

.grid-item-7{
	position: relative;
	z-index: 1;
	padding-right: 30px;
	grid-column: 4/6;
	grid-row: 5/6;
	text-align: right;
}
.image-item-6 {
	position: relative;
	grid-column: 1/6;
	grid-row: 5/6;
}

.grid-item-8 {
	position: relative;
	grid-column: 1/6;
	grid-row: 6/7;
}

.grid-item-9 {
	position: relative;
	grid-column: 1/6;
	grid-row: 7/8;
}

.comments{
	text-align: center;
	font-family: Raleway;
	font-size: 2vw;
}

.formstyle{
	padding: 20px 30px;
	font-size: 15px;
	width: 60vw;
	height: 5vw;
	border-radius: 6px;
	resize: none;
}

.comment_form{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

input[type=submit] {
    background-color: white;
    color: #666666;
    margin-top: 13px; 
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #6495ED;
    color: white;
}

.title-1{
	font-family: 'Concert One', cursive;
	font-size: 95px;
}

.title-2{
	font-family: 'Concert One', cursive;
	font-size: 40px;
}

.title-2-cover{
	font-family: 'Concert One', cursive;
	font-size: 70px;
}


.konten-1{
	font-family: Raleway;
	font-size: 37px;
}

.konten-1-grid4{
	font-family: Raleway;
	font-size: 30px;
	text-align: right;
}


/* Grid Untuk Navbar */
.grid-container-navbar {
	display: grid;
	height: auto;
	width: 100vw;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
	background-color: #2B2B2B;
}

.grid-item-navbar-1{
	grid-column: 1/2;
	grid-row: 1/2;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

.grid-item-navbar-2{
	grid-column: 3/4;
	grid-row: 1/2;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
}

.icon-format {
	height: 25px;
	width: 25px;
	background-size: 50% 50%;
	background-position: center center;
	background-repeat: no-repeat;
}

.close-icon {
	background-image: url("/media/icons/close.svg");
}

.icon {
	height: 20px;
	width: 20px;
}

.button-close-position {
	position: absolute;
	margin-left: -25px;
}

@media only screen and (max-width: 1000px) {
	.title-1{
		font-family: 'Concert One', cursive;
		font-size: 7vw;
	}

	.title-2{
		font-family: 'Concert One', cursive;
		font-size: 4vw;
	}

	.title-2-cover{
		font-family: 'Concert One', cursive;
		font-size: 5vw;
	}

	.konten-1-grid4 {
		font-size: 3vw;
	}

	.konten-1 {
		font-size: 2.5vw;
	}
	.grid-item-3 {
		padding-left: 5vw;
		grid-column: 2/5;
	}
}
