/* Grid Untuk Navbar */
a {
	cursor: pointer;
}
.navbar-con {
	position: fixed;
	z-index: 2;
}

.grid-container-navbar {
	position: relative;
	display: grid;
	width: 100vw;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
	background-color: #2B2B2B;
}

.grid-item-navbar-1 {
	grid-column: 1/2;
	grid-row: 1/2;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

.grid-item-navbar-2 {
	grid-column: 3/4;
	grid-row: 1/2;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
}

/* */
div[onclick="showProfileMenu()"] {
	cursor: pointer;
}

.username-con {
	box-sizing: border-box;
	color: orange;

}

.profile {
	transition-duration: .2s;
	width: initial;
	cursor: pointer;
}

.profile-expand {
	width: 150px;
}

.profile-menu {
	position: absolute;
	box-sizing: border-box;
	padding-bottom: 25px;
	opacity: 0;
	font-family: "Concert One";
	font-size: 25px;
	color: black;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	top: 0;
	right: 0;
	height: 0;
	width: 100%;
	border-radius: 0 0 5px 5px;
	background-color: white;
	transition-duration: .2s;
	transition-timing-function: ease;
}

.profile-menu-expand {
	opacity: 1;
	height: 100px;
	width: 150px;
}

.navbar-menu {
	position: absolute;
	width: 100%;
	visibility: hidden;
	cursor: pointer;
}

@media only screen and (max-width: 500px) {
	.grid-container-navbar {
		grid-template-columns: auto;
		grid-template-rows: auto auto;
	}

	.grid-item-navbar-1 {
		grid-column: 1/2;
		grid-row: 1/2;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
	}

	.grid-item-navbar-2 {
		grid-column: 1/2;
		grid-row: 2/3;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
	}

	.button-navbar-size {
		width: 100%;
	}

	.navbar-menu {
		position: relative;
		visibility: visible;
		background-color: #212020;
	}

	.navbar-init {
		position: relative;
		visibility: hidden;
		opacity: 0;
		transition-duration: .2s;
	}

	.navbar-con-showup {
		z-index: 3;
	}

	.navbar-appear {
		visibility: visible;
		opacity: 1;
	}
}