{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html>
<head>
	<title>What's Going On??</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta name="google-signin-client_id" content="729005614615-auunri0f7584kro5tqegru8mm9618th4.apps.googleusercontent.com">
	<link rel="shortcut icon" type="image/x-icon" href="/media/icons/favicon.ico/" />
	<link href="https://fonts.googleapis.com/css?family=Raleway:500,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Concert+One:300,400" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/news-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/events-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/button-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/navbar-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/image-style.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js'%}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
	<script type="text/javascript" src="{% static 'js/news-script.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/navbar-script.js' %}"></script>
</head>
<body>
	<div class="wall"></div>
	{% if request.session.role == "Admin" %}
		<div class="button-add-popup">
			Create<br>
			one
		</div>
		<div class="popup-add">
			<div class="popup-add-grid">
				<div class="popup-background"></div>
				<h2>Something New ??</h2>
				<form class="" action="" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<label class="popup-label-headline popup-form-padding">
						Event Name
					</label>
					<label class="popup-label-picture popup-form-padding">
						Picture
					</label>
					<label class="popup-label-date popup-form-padding">
						Date
					</label>
					<label class="popup-label-description popup-form-padding">
						Description
					</label>
					<div class="popup-input-headline popup-form-padding">
						{{ form.event_name }}
					</div>
					<div class="popup-input-image popup-form-padding">
						{{ form.picture }}
					</div>
					<div class="popup-input-date popup-form-padding">
						{{ form.date }}
					</div>
					<div class="popup-input-description popup-form-padding">
						{{ form.description }}
					</div>
					<div class="popup-input-submit popup-form-padding">
						<button class="grid-item-color" type="submit">Submit</button>
					</div>
				</form>
			</div>
		</div>
	{% endif %}
	<div class="popup-participant">
		<button class="icon icon-format close-icon button-close-position button-close">
		</button>
		<label class="info-participants">
		</label>
		<div class="user-list-con">
		</div>
	</div>
	<div class="grid-container">
		<div class="grid-item-1">
			<div class="image-2-asset image-2-format"></div>
			<div class="image-5-asset image-5-format"></div>
		</div>
		<div class="grid-item-2">
			{% include "reusable-pages/navbar-base.html" %}
		</div>
		<div class="grid-item-3">
			<div class="grid-title-background">
				<div class="image-1-asset image-1-format"></div>
				<div class="image-4-asset image-4-format"></div>
			</div>
			<div class="grid-title-content">
				<div class="title">- Events -</div>
				<div class="content">
					In this page you can find recent news and information on ongoing events. These events are best of the bests!!
				</div>
				<div class="content2">
					You can also add a new event to this page if you are registered as an admin. Each event is equipped with the event name, description, and an image.
				</div>
			</div>
		</div>
		<div class="grid-item-4">
			{% if events %}
				{% for data in events %}
				<div class="news-container">
					{% if request.session.role == "Admin" %}
						<a class="button-close-position" href="delete/{{ data.id }}">
							<div class="icon icon-format close-icon">
							</div>
						</a>
					{% endif %}
					<div class="grid-container2">
						<div class="grid-item-1a">
							<div class="grid-item-1aa">
								<h1>{{ data.event_name }}</h1>
							</div>
							<div class="grid-item-1ab">
								<h1>{{ data.date.date }}</h1>
							</div>
						</div>
						<div class="grid-item-2a">
							<p>{{ data.description }}</p>
						</div>
						<div class="grid-item-2b">
							<div class="grid-item-2ba">
								<img class="image-pad" src="/media/{{data.picture}}" alt="yeye">
							</div>
							<div class="grid-item-2bb">
								{% if request.session.user_exists %}
									<a data-event-id="{{ data.id }}" data-type="register-event" data-state="0">
										<div class="button">
											<div class="background-color-animated"></div>
											<div class="border-line-2"></div>
											<div class="border-line-3"></div>
											<div class="border-line-4"></div>
											<div class="text">
												REGISTER NOW!
											</div>
										</div>
									</a>
								{% else %}
								<a href="{% url 'user:login' %}">
									<div class="button">
										<div class="background-color-animated"></div>
										<div class="border-line-2"></div>
										<div class="border-line-3"></div>
										<div class="border-line-4"></div>
										<div class="text">
											LOGIN FIRST!
										</div>
									</div>
								</a>
								{% endif %}
								<a>
									<div class="button show-participant" data-event-id="{{ data.id }}">
										<div class="background-color-animated"></div>
										<div class="border-line-2"></div>
										<div class="border-line-3"></div>
										<div class="border-line-4"></div>
										<div class="text">
											PARTICIPANTS
										</div>
									</div>
								</a>
							</div>
						</div>
						</div>
					</div>
				{% endfor %}
			{% else %}
			<div class="empty-news">
				No Current Events . . .
			</div>
			{% endif %}
		</div>
	</div>
</body>
</html>
